{% extends "base.html" %}

{% block title %} Домашняя страница {% endblock %}

{% block content %}
<div class="row">
    <div class="col"><h2 class=" text-center my-3">Тестовое задание от Hammer Systems</h2>
    </div>
</div>
{% if user.is_authenticated %}
<div class="row ">
    <div class="col-md-8 mx-auto my-2">
        <div class="container px-4">
            <p class="text-justify">
                Задание:
                В профиле у пользователя должна быть возможность ввести чужой
                инвайт-код(при вводе проверять на существование). В своем профиле
                можно активировать только 1 инвайт код, если пользователь уже когда-то
                активировал инвайт код, то нужно выводить его в соответсвующем
                поле в запросе на профиль пользователя.
                Форма для добавления
            </p>

            <form method="POST" action="#">
                <div class="form-group">
                    {{ form.as_p }}{% csrf_token %}
                </div>
                <div class="container-buttons">
                    <button type="submit" class="btn btn-primary">Получить код</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="row ">
    <div class="col-md-5 mx-auto">
        <div class="container px-5">
            <p class="text-justify">
                Для работы с сервисом войдите в свою учётную запись <br>или попросите у администратора "Логин"
                и "Пароль"

            </p>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}